/*
  Test
  This section describes base colors and typography
  Styleguide 1.0
*/

/*
Links

Normal links.

markup:
<a>This is a link</a>

Styleguide 1.0
*/

a {
    color:goldenrod;
    text-decoration: underline;
}